<%- include('../includes/base.ejs') %> <%- include('../includes/header.ejs') %>
<main class="main">
  <% if(msgErr){ %>
  <h1 class="Error"><%= msgErr %></h1>
  <% } %>
  <form action="/login" method="post" class="forms">
    <div class="wrapperInput">
      <label for="name">name</label>
      <input type="text" class="input <%= validateErrors === 'name'?'invalid':''; %> " name="name" value="<%- oldValue.name%>"/>
    </div>
    <div class="wrapperInput">
      <label for="email">email</label>
      <input type="email" class="input <%= validateErrors === 'email'?"invalid":''; %> " name="email" value="<%- oldValue.email%>"/>
    </div>
    <div class="wrapperInput">
      <label for="password">password</label>
      <input type="text" class="input <%= validateErrors === 'password'?"invalid":''; %> " name="password" value="<%- oldValue.password%>"/>
    </div>
    <div class="wrapperInput">
      <a href="/reset" class="nav__item-link">RESET PASSWORD</a>
    </div>
    <div>
      <button type="submit" class="btn">LOGIN</button>
    </div>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  </form>
</main>
<%- include('../includes/end.ejs') %>
