<%- include('../includes/base.ejs') %> <%- include('../includes/header.ejs') %>
<main class="main">
  <% if(msgErr){ %>
  <h1 class="Error"><%= msgErr %></h1>
  <% } %>
  <form action="/reset" method="post" class="forms">
    <div class="wrapperInput">
      <label for="email">email</label>
      <input type="email" class="input <%= validateErrors === 'email'?"invalid":''; %> " name="email" value="<%- oldValue.email%>"/>
    </div>
    <div>
      <button type="submit" class="btn  nav__item-link">SEND LINK EMAIL</button>
    </div>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  </form>
</main>
<%- include('../includes/end.ejs') %>
