<%- include('../includes/base.ejs') %> <%- include('../includes/header.ejs') %>
<main class="main">
  <% if(msgErr){ %>
  <h1 class="Error"><%= msgErr %></h1>
  <% } %>
  <form action="<%= edit?"/edit-product":"/add-product" %>" method="<%= edit?"":"post" %>" class="forms" enctype="multipart/form-data">
    <div class="wrapperInput">
      <label for="title">title</label>
      <input type="text" class="input <%= validateErrors === 'title'?'invalid':''; %> " name="title" value="<% if(edit || hasError) {%><%=product.title%><%}%>"/>
    </div>
    <div class="wrapperInput">
      <label for="imagePath">imagePath</label>
      <input type="file" id="imagePath" class="input <%= validateErrors === 'imagePath'?"invalid":''; %> " name="image"/>
    </div>
    <div class="wrapperInput">
      <label for="price">price</label>
      <input type="text" class="input <%= validateErrors === 'price'?"invalid":''; %> " name="price" value="<% if(edit || hasError) {%><%=product.price%><%}%>"/>
    </div>
    <% if(edit){  %>
        <input type="hidden" name="prodId" value="<%= product._id %>">
        <% } %>
    <div>
      <button type="<%= edit?"button":"submit" %>" class="btn" <% if(edit){ %> onclick="editProduct(this)" <% } %> > <% if(edit){ %> UPDATE <%}else{ %> Add Product <% } %> </button>
    </div>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  </form>
</main>
<%- include('../includes/end.ejs') %>
<script src="/js/admin.js"></script>
