<%- include('../includes/base.ejs') %> <%- include('../includes/header.ejs') %>
<main class="main">
  <% if(msgErr !== null){ %>
  <h1 class="Error"><%= msgErr %></h1>
  <% } %>
  <% if(products.length > 0){ %>
    <div class="wrapper">
        <% products.forEach(product => { %>

        <div class="card" >
            <div class="card_item" >
              <h1 class="card__text" >title :  <%- product.nameProduct %> </h1>
              <img src="<%- product.prodId.imagePath %>" alt="<%- product.prodId.title %>">
              <h4  class="card__text">price :  <%- product.prodId.price %> </h4>
              <h4  class="card__text">qty: <%- product.qty %> </h4>
            </div>
            <% if(isAuth){ %>
            <div class="card__cart">
              
                <button class="btn" type="submit" onclick="deleteCartItem(this)" >Delete</button>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input type="hidden" name="prodId" value="<%= product.prodId._id %>">
            </div>
            <% } %>
        </div>
        
        <% }) %>
        <form action="/checkOut" method="post" >
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">

        </form>
      </div>
    <% }else{ %>
      <h1>NO FOUND PRODUCT</h1>
      <% } %>
</main>
<%- include('../includes/end.ejs') %>
<script src="/js/admin.js"></script>
