<%- include('../includes/base.ejs') %> <%- include('../includes/header.ejs') %>
<main class="main">
  <% if(msgErr !== null){ %>
  <h1 class="Error"><%= msgErr %></h1>
  <% } %>
  <% if(products.length > 0){ %>
    <div class="wrapper">
        <% products.forEach(product => { %>

        <div class="card" >
            <div class="card_item" >
              <h1 class="card__text" > <%- product.title %> </h1>
              <img src="<%- product.imagePath %>" alt="<%- product.title %>">
              <h4  class="card__text"> <%- product.price %> </h4>
            </div>
            <div class="card__cart">
              <form action="/cart" method="post">
                <button class="btn" type="submit">Add Cart</button>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              </form>
            </div>
        </div>
        
        <% }) %>
        <div class="pagination">
          <% if(page !== && prevPage !== 1){ %>
            <a href="?page=1">1</a>
          <%}%>
          <% if(hasPrevPage){ %>
            <a href="?page=<%= prevPage %>"> <%= prevPage %> </a>
          <% } %>
          <a href="?page=<%= page %>" class="active"><%= page %></a>
          <% if(hasNxtPage){ %>
            <a href="?page=<%= nxtPage %>"> <%= nxtPage %> </a>
          <% } %>
          <% if (lastPage !== page && nxtPage !== lastPage ){ %>
            <a href="?page=<%= lastPage %>"> <%= lastPage %> </a>
            <% } %>
        </div>
      </div>
    <% }else{ %>
      <h1>NO FOUND PRODUCT</h1>
      <% } %>
</main>
<%- include('../includes/end.ejs') %>
